.modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_overlay {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal_content {
    background-color: var(--shadow);
    border: 2px solid var(--pink);
    padding: 14px 20px 20px 20px;
    border-radius: 5px;
    width: 25%;
    min-width: 300px;
    max-height: 80vh;
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: none; /* Firefox */


    h3 {
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    p {
        margin-bottom: 8px;
        font-size: .95rem;
    }
}

.close_button {
    width: 100%;
    height: 50px;
    position:relative;
    overflow:hidden;
    border:thin solid var(--img_trim);
    border-radius: 40px;
    transition:all .25s ease-in-out;
    background-color: var(--pink);

    &:hover {
        border: thin solid var(--white_fulltime);

        span {
                color: var(--white_fulltime);
        }
    }

    span {
        position:relative;
        padding: 20px;
        text-transform:uppercase;
        color: var(--black);
        font-weight:900;
        letter-spacing:1px;
        border: none;
        font-size: 1.125rem;
        outline:none;
        cursor: pointer;
    }

    &::before {
        content:" ";
        display:block;
        width:150px;
        height: 60px;
        background: #CBE5EC50;
        position:absolute;
        top:-5px;
        left:-150px;
        transform:rotate(45deg);
        transition:all .15s ease-in-out;  
        z-index:1;
    }

    &:hover:before {
        margin-left:150%;
    }

}

