
.Bee_Box {
    h1 {
        margin-top: 10px;
        color: var(--black);
    }

    p {
        font-size: 1.3rem;
    }

}

.Bee_Path {
    position: absolute; /* Set child position */
    top: 35px;
    left: 50%; /* Start positioning from the left */
    transform: translateX(-50%); /* Move back by half its width */
    width: 97%;
    stroke: var(--black);
    opacity: 1;
}


.Kyles_Bee {
    position: absolute;
    width: 75px;
    height: 75px;
    pointer-events: none;
    z-index: 1;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8)); /* White halo effect */
}


