.FlyingBee_Content{
    z-index: 10;
    width: 90%;
    margin: 4% auto 0;
}

.Title_Content {
    width: 95%;
    max-width: 320px;
    margin: 0 auto;

    h1 {
        padding-left: 40px;
        color: var(--black);
        span{
            z-index: 10;
            color: #F3DB18;
            text-shadow: 
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px  1px 0 black,
                1px  1px 0 black;
        }
    }

    p {
        margin: 16px auto;
        font-size: 1rem;
        font-weight: 600;
    }

    button {
        position:relative;
        margin: 24px 0;
        padding: 16px 24px;
        background-color: #F3DB18;
        color: black;
        font-size: 1.2rem;
        border-radius: 30px;
        text-transform:uppercase;
        font-weight: 700;
        border: none;
        outline:none;
        cursor: pointer;
        overflow:hidden;

        &::before {
            content:" ";
            display:block;
            width:200px;
            height: 95px;
            background: #F7F6F050;
            position:absolute;
            top:-5px;
            left:-200px;
            transform:rotate(45deg);
            transition:all .2s ease-in-out;  
            z-index:1;
        }
    
        &:hover:before {
            margin-left:300%;
        }
    }
}

.Body_Content {
    margin: 36px;
    h1 {
        text-align: center;
    }
    p {
        width: 80%;
        max-width: 300px;
        margin: 16px auto;
    }

}

.Bee_Path {
    position: absolute; /* Set child position */
    top: 35px;
    left: 50%; /* Start positioning from the left */
    transform: translateX(-50%); /* Move back by half its width */
    width: 97%;
    stroke: var(--black);
    opacity: 1;
}


.Kyles_Bee {
    position: absolute;
    width: 75px;
    /* height: 75px; */
    pointer-events: none;
    z-index: 1;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.95)); /* White halo effect */
}


@media all and (min-width:499px) {
    .Title_Content {

        width: 95%;
        max-width: 550px;
        margin: 0 auto;
    
        h1 {
            font-size: 3.5rem;
            padding-left: 0px;
            text-align: center;
        }
    
        p {
            margin: 16px auto;
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
    
.Kyles_Bee {
    width: 100px;
    /* height: 100px; */
}

}

@media all and (min-width:800px) {
    .Title_Content {
        width: 95%;
        max-width: 550px;
        margin: 0 auto;
    
        h1 {
            br {
                display:none;
            }
        }
        p {
            width: 90%;
            max-width: 550px;
        }
    }
    .Kyles_Bee {
        width: 125px;
        /* height: 125px; */
    }
    .Title_Content{
    
        button {
            
            left: 16px;

        }
    }
}
