/* Login And Registration Style Page */

/* FORM FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*                */
/* FORM CONTAINER */
/*                */
.form_wrapper {
    position: relative;
    top: 0%;
    left: 8px;
    width: 35%;
    min-width: 320px;
    max-width: 425px;
    height: 445px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--pink);
    
    border: 1px solid var(--shadow);
    border-radius: 10px;
    transition: height 0.4s ease;

    * {
        font-family: "Poppins", sans-serif;
    }

    .form_box {
        width: 100%;
        max-width: 425px;
        -webkit-overflow-scrolling: touch;
        position: relative;

        &.login, &.register {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.active {
        height: 510px;
    }
}
/*                    */
/* END FORM CONTAINER */
/*                    */

/*            */
/* FORM STYLE */
/*            */
form {
    width: 90%;

    h1 {
        color: var(--black);
        font-size: 2.5rem;
        text-align: center;
    }

    button {
        width: 100%;
        height: 50px;
        position:relative;
        overflow:hidden;
        border:thin solid var(--img_trim);
        border-radius: 40px;
        transition:all .25s ease-in-out;
        background-color: var(--button_bg);

        &:hover {
            border: thin solid var(--white_fulltime);

            span {
                    color: var(--white_fulltime);
            }
        }

        &:disabled {
            opacity: .3;

            &:hover {
                border: thin solid var(--img_trim);

                span {
                        color: var(--black);
                }
            }

            &:hover:before {
                margin-left:0%;
            }

            &:active {
                top: 0;
            }
        }

        span {
            position:relative;
            padding: 20px;
            text-transform:uppercase;
            color: var(--black);
            font-weight:900;
            letter-spacing:1px;
            border: none;
            font-size: 1.25rem;
            outline:none;
            cursor: pointer;
        }

        &::before {
            content:" ";
            display:block;
            width:150px;
            height: 60px;
            background: #CBE5EC50;
            position:absolute;
            top:-5px;
            left:-150px;
            transform:rotate(45deg);
            transition:all .15s ease-in-out;  
            z-index:1;
        }

        &:hover:before {
            margin-left:150%;
        }

        &:active {
            top: 4px;
        }
    }

    .register_link {
        p {
            max-width: 300px;
            color: var(--black);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.95rem;
            margin: 15px auto;
        }
    }

    .remember_forgot {
        max-width: 300px;
        color: var(--black);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.95rem;
        margin: -15px auto 15px;
        
        label {
            cursor: pointer;
        }

        label input {
            margin-right: 4px;
            accent-color: var(--black);

            &:hover {
                accent-color: var(--button_bg);
            }
        }
        
        a, label input {
            position: relative;
            top:1.5px;

        }
    }

    .input_box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;

        input {
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border: 2px solid rgba(255,255,255, 0.5);
            border-radius: 40px;
            font-size: 1rem;
            color: var(--white_fulltime);
            font-weight: 700;
            padding: 20px 45px 20px 20px;

            &:hover {
                border: 2px solid rgba(255,255,255, 0.9);
            }

            &::placeholder {
                color: rgba(255,255,255, 0.4);
                font-weight: normal;
            }
        }

        .icon {
            color: var(--black);
            position: absolute;
            right: 20px;
            top: 50%;
            translate: 0 -50%;
            font-size: 1.2rem;
        }
    }
}
/*                */
/* END FORM STYLE */
/*                */


/*                   */
/* FORM SLIDE ACTION */
/*                   */
.form_wrapper .form_box.login {
    transition: translate 0.25s ease;
    translate: 0;
}

.form_wrapper.active .form_box.login {
    transition: none;
    translate: -425px;
}

.form_wrapper .form_box.register {
    position: absolute;
    transition: none;
    translate: 425px;
}

.form_wrapper.active .form_box.register {
    transition: translate 0.25s ease;
    translate: 0;
}
/*                       */
/* END FORM SLIDE ACTION */
/*                       */


/*                 */
/* FORM LINK STYLE */
/*                 */
.form_link {
    color: var(--black);
    font-weight: 600;
    position: relative;
    top: 0px;
    left: 2px;
    font-size: 0.95rem;
    text-decoration: none;
    cursor: pointer;
    text-wrap: nowrap;
    border-bottom: 1px solid var(--black);
    -webkit-transition: border-bottom .1s ease;
    transition: border-bottom .1s ease;

    &:hover {
        color: var(--white_fulltime);
        border-bottom: 1px solid transparent;
    }

    &::before {
        left: 0; 
    }

    &::after {
        right: 0;
    }
}

.form_link:before, .form_link:after {
    content: '';
    border-bottom: 1px solid var(--white_fulltime);
    position: absolute;
    bottom: 0;
    width: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form_link:hover:before, .form_link:hover:after {
    width: 50%;
}
/*                     */
/* END FORM LINK STYLE */
/*                     */


/*                */
/*  MODAL STYLES  */
/*                */
.modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Shift back by half width and height */
    background-color: var(--shadow);
    border: 2px solid var(--pink);
    padding: 14px 20px 20px 20px;
    border-radius: 5px;
    width: calc(35% * 0.9);
    min-width: 320px;
    max-width: 425px;
    max-height: 87vh;
    overflow-y:auto; /* Enable vertical scrolling */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar { 
        display: none; /* For Chrome, Safari, and Opera */
    }

    h3 {
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 16px;
    }
    
    p {
        margin-bottom: 8px;
        font-size: .95rem;
    }
}

.close_button {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    position:relative;
    overflow:hidden;
    border:thin solid var(--img_trim);
    border-radius: 40px;
    transition:all .25s ease-in-out;
    background-color: var(--pink);

    &:hover {
        border: thin solid var(--white_fulltime);

        span {
                color: var(--white_fulltime);
        }
    }

    span {
        position:relative;
        padding: 20px;
        text-transform:uppercase;
        color: var(--black);
        font-weight:900;
        letter-spacing:1px;
        border: none;
        font-size: 1.125rem;
        outline:none;
        cursor: pointer;
    }

    &::before {
        content:" ";
        display:block;
        width:150px;
        height: 60px;
        background: #CBE5EC50;
        position:absolute;
        top:-5px;
        left:-150px;
        transform:rotate(45deg);
        transition:all .15s ease-in-out;  
        z-index:1;
    }

    &:hover:before {
        margin-left:160%;
    }
}
/*                  */
/* END MODAL STYLES */
/*                  */


/*                      */
/* SCREEN SIZE RESPONSE */
/*                      */
@media (max-width: 1190px) {
    form .register_link p, form .remember_forgot  {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 499px) {
    .form_wrapper {
        left: 0px;
    }
}
/*                          */
/* END SCREEN SIZE RESPONSE */
/*                          */